body{
    background-color: aquamarine;
    margin:0 0 0 0;
}
#wrapper{
    width: 960px;
    background-color: azure;
    margin: 0 auto;
}
#header{
    height: 200px;
    text-align: center;
}
#logo{
    width:200px;
    height:inherit;
    background-color: beige;
    float: left;
    text-align: center;

}
#banner{
    width: 760px;
    height:inherit;
    background-color: cyan;
    float: right;
    text-align: center;

}
#menubar{
    height:50px;
    background-color: chartreuse;
    text-align: center;
}
#content{
    height: 500px;
    background-color:blue;
    text-align: center;
}
#footer{
    background-color: darkgray;
    height: 35px;
    text-align: center;
}
#menubutton{
    position: relative;
    width: 192px;
    text-align: center;
    vertical-align: middle;
    float: left;

}
.menubutton{
    height: 100%;
    width: 100%;
    font-size: 20px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
